body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo {
  width: 180px;
  height: 40px;
}

h1 {
  font-size: 5rem;
  margin-top: 40px;
  padding-top: 20px;
}

footer {
  text-align: right;
  color: midnightblue;
}

span {
  color: #191970;
}

img {
  width: 300px;
  height: 200px;
  padding: 5px;
}


.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

.card-title {
  padding-bottom: 10px;
  padding-left: 15px;
}

.tile-image {
  float: left;
  margin-right: 50px;
}

@media (max-width: 680px) {
  .logo {
    width: 90px;
    height: 20px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 30px;
  }

  .card {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    text-align: justify;
  }

  .card-title {
    text-align: center;
    clear: both;
  }

  img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
  }

  footer {
    text-align: center;
    font-size: 1rem;
  }

}
